:root {
    --white: #fff;
    --black: #000;
    --font-color-base: #666;
    --font-color-dark: #212529;
    --footer: #34314b;
    --footer-base: #2e2b45;
    --contrast: var(--font-color-light);
    --success: #64ECF5;
    --danger: #FF8B8D;
    --grad-1: #a1ecff;
    --grad-2: #7dbcff;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}
a { text-decoration: none; }
p {margin-top: 0;}

h2{
  font-size: 2rem;
  font-weight: 500;  
  line-height: 1.2;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    /*to keep content centered */
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:1200px) {
    .container { max-width: 1140px;}
}